<div class="content">

	<div class="header-block">
		Сколько я плачу государству?
	</div>

	<div class="container salary-block">
		<div class="row">
			<div class="col-sm">
				<div class="salary active">
					<span class="label">Моя зарплата "чистыми"</span>
					{{input class="net" value=salaryNet key-up="netSalaryChanged" key-down="filterInput"}}
					{{fa-icon "ruble-sign"}}
				</div>
				<div class="salary">
					<span class="label">Моя зарплата "грязными"</span>
					{{input class="gross" value=salaryGross key-up="grossSalaryChanged" key-down="filterInput"}}
					{{fa-icon "ruble-sign"}}
				</div>
			</div>
		</div>
	</div>
	<div class="fot-block {{unless hasOutput 'inactive'}}">
		<span class="label">Моя зарплата до вычета налогов (фонд оплаты труда): {{fa-icon "info-circle" click=(action "showInfoBlock" "fot")}} </span>
		<span class="value">&nbsp;{{FOT}}&nbsp;</span>
	</div>
	<div class="container taxes-block {{unless hasOutput 'inactive'}}">
		<div class="row">
			<div class="col-sm">
				<div class="header">
					<span class="label">Налоги за месяц</span>
				</div>
				<div class="tax">
					<span class="label">Пенсионные отчисления: {{fa-icon "info-circle" title="22%" click=(action "showInfoBlock" "pensiontax")}}</span>
					<span class="value">{{pensionTaxMonth}}</span>
				</div>
				<div class="tax">
					<span class="label">Медицинское страхование: {{fa-icon "info-circle" title="5.1%" click=(action "showInfoBlock" "medicaltax")}}</span>
					<span class="value">{{medicalTaxMonth}}</span>
				</div>
				<div class="tax">
					<span class="label">Социальное страхование: {{fa-icon "info-circle" title="2.9%" click=(action "showInfoBlock" "socialtax")}}</span>
					<span class="value">{{socialTaxMonth}}</span>
				</div>
				<div class="tax">
					<span class="label">НДФЛ: {{fa-icon "info-circle" title="13%" click=(action "showInfoBlock" "ndfltax")}}</span>
					<span class="value">{{ndflTaxMonth}}</span>
				</div>
				<div class="tax total">
					<span class="label">Всего:</span>
					<span class="value">{{totalTaxesMonth}}</span>
				</div>
			</div>
			<div class="col-sm">
				<div class="header">
					<span class="label">Налоги за год</span>
				</div>
				<div class="tax">
					<span class="label">Пенсионные отчисления: {{fa-icon "info-circle" title="22%" click=(action "showInfoBlock" "pensiontax")}}</span>
					<span class="value">{{pensionTaxYear}}</span>
				</div>
				<div class="tax">
					<span class="label">Медицинское страхование: {{fa-icon "info-circle" title="5.1%" click=(action "showInfoBlock" "medicaltax")}}</span>
					<span class="value">{{medicalTaxYear}}</span>
				</div>
				<div class="tax">
					<span class="label">Социальное страхование: {{fa-icon "info-circle" title="2.9%" click=(action "showInfoBlock" "socialtax")}}</span>
					<span class="value">{{socialTaxYear}}</span>
				</div>
				<div class="tax">
					<span class="label">НДФЛ: {{fa-icon "info-circle" title="13%" click=(action "showInfoBlock" "ndfltax")}}</span>
					<span class="value">{{ndflTaxYear}}</span>
				</div>
				<div class="tax total">
					<span class="label">Всего:</span>
					<span class="value">{{totalTaxesYear}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="taxes-info-block">
		<div id="fot" class="tax-info">
			<span class="label">Фонд оплаты труда</span>
			<div class="calculation">{{fa-icon "calculator"}} Зарплата "чистыми" + НДФЛ + Пенсионные отчисления + Медицинское страхование + Социальное страхование</div>
			<div class="body">
				Сумма, которую компания тратит на выплату зарплаты одному сотруднику. Другими словами, это сумма выдаываемая на руки + налоги, выплачиваемые компанией государству.
			</div>
		</div>
		<div id="pensiontax" class="tax-info">
			<span class="label">Пенсионные отчисления: 22%</span>
			<div class="calculation">{{fa-icon "calculator"}} Зарплата "грязными" * 0.22</div>
			<div class="body">
				Собранные средства направляются в
				<a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D0%BD%D1%81%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D0%B9_%D1%84%D0%BE%D0%BD%D0%B4_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%BE%D0%B9_%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%B8">Пенсионный фонд Российской Федерации (ПФР) {{fa-icon "wikipedia-w"}}</a>.
				<br>
				Расходуется на пенсионное обеспечение граждан РФ, уже находящихся на пенсии. Накопления пенсионных отчислений не происходит.
				Суммарный объем расходов на пенсионное обеспечение составляет более <a target="_blank" href="http://www.pfrf.ru/press_center/~2017/10/26/145632">7 трлн. рублей</a> в год и является крупнейшей статьей расходов государства.
				Дефицит финансируется из <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9_%D0%B1%D1%8E%D0%B4%D0%B6%D0%B5%D1%82_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8">Федерального бюджета {{fa-icon "wikipedia-w"}}</a> и <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%A4%D0%BE%D0%BD%D0%B4_%D0%BD%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE_%D0%B1%D0%BB%D0%B0%D0%B3%D0%BE%D1%81%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%B8%D1%8F_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8">Фонда национального благосостояния {{fa-icon "wikipedia-w"}}</a>.
			</div>
		</div>
		<div id="medicaltax" class="tax-info">
			<span class="label">Медицинское страхование: 5.1%</span>
			<div class="calculation">{{fa-icon "calculator"}} Зарплата "грязными" * 0.051</div>
			<div class="body">
				Собранные средства направляются в <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9_%D1%84%D0%BE%D0%BD%D0%B4_%D0%BE%D0%B1%D1%8F%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BC%D0%B5%D0%B4%D0%B8%D1%86%D0%B8%D0%BD%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F">Фонд обязательного медицинского страхования (ФОМС) {{fa-icon "wikipedia-w"}}</a>.
				<br>
				Расходуется на оплату услуг, входящих в <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B4%D0%B8%D1%86%D0%B8%D0%BD%D1%81%D0%BA%D0%BE%D0%B5_%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5#%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D1%8F_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0_%D0%9E%D0%9C%D0%A1">базовую программу Обязательного медицинского страхования (ОМС) {{fa-icon "wikipedia-w"}}</a>.
			</div>
		</div>
		<div id="socialtax" class="tax-info">
			<span class="label">Социальное страхование: 2.9%</span>
			<div class="calculation">{{fa-icon "calculator"}} Зарплата "грязными" * 0.029</div>
			<div class="body">
				Собранные средства направляются в <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%A4%D0%BE%D0%BD%D0%B4_%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE_%D1%81%D1%82%D1%80%D0%B0%D1%85%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%BE%D0%B9_%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%B8">Фонд социального страхования Российской Федерации {{fa-icon "wikipedia-w"}}</a>,
				<br>
				Расходуется на оплату "больничных", пособий по беременности и родам, пособий по уходу за ребенком, выплаты пострадавшим на производстве, помощь инвалидам и пр.
			</div>
		</div>
		<div id="ndfltax" class="tax-info">
			<span class="label">НДФЛ: 13%</span>
			<div class="calculation">{{fa-icon "calculator"}} Зарплата "грязными" * 0.13</div>
			<div class="body">
				Собранные средства распределяются между федеральным бюджетом, региональным бюджетом и муниципальным бюджетом.
			</div>
		</div>
	</div>

</div>
{{outlet}}